:root[data-theme=dark] .general-text-color, :root[data-theme=dark] .attribution, :root[data-theme=dark] .calculator-screen .calculator-screen-result, :root[data-theme=dark] .calculator-top .right .toggle-container .toggle-number-con span, :root[data-theme=dark] .calculator-top .right .theme-text, :root[data-theme=dark] .calculator-top .heading-text {
  color: hsl(0, 0%, 100%);
}
:root[data-theme=dark] .main-bg-color, :root[data-theme=dark] body {
  background-color: hsl(222, 26%, 31%);
}
:root[data-theme=dark] .pad-and-toggle-bg-color, :root[data-theme=dark] .calculator-keypad, :root[data-theme=dark] .calculator-top .right .toggle-container .toggle {
  background-color: hsl(223, 31%, 20%);
}
:root[data-theme=dark] .screen-bg-color, :root[data-theme=dark] .calculator-screen {
  background-color: hsl(224, 36%, 15%);
}
:root[data-theme=dark] .toggle .indicator {
  background-color: hsl(6, 63%, 50%);
}
:root[data-theme=dark] .key-1-theme-color, :root[data-theme=dark] .calculator-keypad .key.key-1 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px hsl(224, 28%, 35%);
}
:root[data-theme=dark] .key-2-theme-color, :root[data-theme=dark] .calculator-keypad .key.key-2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px hsl(6, 70%, 34%);
}
:root[data-theme=dark] .key-3-theme-color, :root[data-theme=dark] .calculator-keypad .key.key-3 {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 3px hsl(28, 16%, 65%);
}

:root[data-theme=light] .general-text-color, :root[data-theme=light] .attribution, :root[data-theme=light] .calculator-screen .calculator-screen-result, :root[data-theme=light] .calculator-top .right .toggle-container .toggle-number-con span, :root[data-theme=light] .calculator-top .right .theme-text, :root[data-theme=light] .calculator-top .heading-text {
  color: hsl(60, 10%, 19%);
}
:root[data-theme=light] .main-bg-color, :root[data-theme=light] body {
  background-color: hsl(0, 0%, 90%);
}
:root[data-theme=light] .pad-and-toggle-bg-color, :root[data-theme=light] .calculator-keypad, :root[data-theme=light] .calculator-top .right .toggle-container .toggle {
  background-color: hsl(0, 5%, 81%);
}
:root[data-theme=light] .screen-bg-color, :root[data-theme=light] .calculator-screen {
  background-color: hsl(0, 0%, 93%);
}
:root[data-theme=light] .toggle .indicator {
  background-color: hsl(25, 98%, 40%);
}
:root[data-theme=light] .key-1-theme-color, :root[data-theme=light] .calculator-keypad .key.key-1 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 3px hsl(185, 58%, 25%);
}
:root[data-theme=light] .key-2-theme-color, :root[data-theme=light] .calculator-keypad .key.key-2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0 3px hsl(6, 70%, 34%);
}
:root[data-theme=light] .key-3-theme-color, :root[data-theme=light] .calculator-keypad .key.key-3 {
  color: hsl(221, 14%, 31%);
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 3px hsl(35, 11%, 61%);
}

:root[data-theme=purple] .general-text-color, :root[data-theme=purple] .attribution, :root[data-theme=purple] .calculator-screen .calculator-screen-result, :root[data-theme=purple] .calculator-top .right .toggle-container .toggle-number-con span, :root[data-theme=purple] .calculator-top .right .theme-text, :root[data-theme=purple] .calculator-top .heading-text {
  color: hsl(52, 100%, 62%);
}
:root[data-theme=purple] .main-bg-color, :root[data-theme=purple] body {
  background-color: hsl(268, 75%, 9%);
}
:root[data-theme=purple] .pad-and-toggle-bg-color, :root[data-theme=purple] .calculator-keypad, :root[data-theme=purple] .calculator-top .right .toggle-container .toggle {
  background-color: hsl(268, 71%, 12%);
}
:root[data-theme=purple] .screen-bg-color, :root[data-theme=purple] .calculator-screen {
  background-color: hsl(268, 71%, 12%);
}
:root[data-theme=purple] .toggle .indicator {
  background-color: hsl(176, 100%, 44%);
}
:root[data-theme=purple] .key-1-theme-color, :root[data-theme=purple] .calculator-keypad .key.key-1 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 3px hsl(285, 91%, 52%);
}
:root[data-theme=purple] .key-2-theme-color, :root[data-theme=purple] .calculator-keypad .key.key-2 {
  color: hsl(60, 10%, 19%);
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0 3px hsl(177, 92%, 70%);
}
:root[data-theme=purple] .key-3-theme-color, :root[data-theme=purple] .calculator-keypad .key.key-3 {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 3px hsl(290, 70%, 36%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  transition: 0.2s color, 0.2s background-color;
}

/* screen reader hack */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

body {
  font-weight: 700;
}

main {
  padding: 109px 14px;
}

.calculator-container {
  max-width: 540px;
  margin: 0 auto;
}

.calculator-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}
.calculator-top .heading-text {
  font-size: 31px;
  margin-left: 7px;
}
.calculator-top .right {
  display: flex;
  align-items: center;
}
.calculator-top .right .theme-text {
  margin-right: 26px;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 600;
}
.calculator-top .right .toggle-container {
  position: relative;
}
.calculator-top .right .toggle-container .toggle-number-con {
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  margin-bottom: 3px;
}
.calculator-top .right .toggle-container .toggle-number-con span {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}
.calculator-top .right .toggle-container .toggle {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  position: relative;
}
.calculator-top .right .toggle-container .toggle .indicator {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 16px;
  width: 16px;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}
.calculator-top .right .toggle-container .toggle .indicator:hover {
  filter: brightness(1.5);
}
:root[data-theme=light] .calculator-top .right .toggle-container .toggle .indicator {
  left: 50%;
  transform: translate(-50%, -50%);
}
:root[data-theme=purple] .calculator-top .right .toggle-container .toggle .indicator {
  left: calc(100% - 20px);
}
.calculator-top .right .toggle-container .toggle .toggle-btn-con {
  position: absolute;
  inset: 0;
  display: flex;
}
.calculator-top .right .toggle-container .toggle button {
  flex-grow: 1;
  cursor: pointer;
  opacity: 0;
}

.calculator-screen {
  padding: 37px 31px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.calculator-screen .calculator-screen-result {
  text-align: right;
  font-size: 55px;
  width: 100%;
  border: none;
  background: transparent;
  font-weight: 600;
  outline: none;
  overflow-x: auto;
}

.calculator-keypad {
  padding: 30px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 27px 24px;
  font-weight: 700;
}
.calculator-keypad .key {
  grid-column: span 1;
  height: 62px;
  padding: 12px 10px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.calculator-keypad .key.key-1 {
  font-size: 29px;
}
.calculator-keypad .key.key-2 {
  font-size: 32px;
}
.calculator-keypad .key.key-3 {
  font-size: 39px;
}
.calculator-keypad .key:hover {
  filter: brightness(1.5);
}
.calculator-keypad .key:nth-child(17), .calculator-keypad .key:nth-child(18) {
  grid-column: span 2;
}

@media (max-width: 500px) {
  main {
    padding: 38px 23px;
  }
  .calculator-top {
    margin-bottom: 34px;
  }
  .calculator-top .right .toggle-container .toggle-number-con span {
    font-size: 13px;
  }
  .calculator-screen {
    padding: 27px 23px;
  }
  .calculator-screen .calculator-screen-result {
    font-size: 40px;
  }
  .calculator-keypad {
    padding: 24px 25px;
    gap: 16px 12px;
  }
  .calculator-keypad .key {
    border-radius: 5px;
  }
  .calculator-keypad .key.key-1 {
    font-size: 19px;
  }
  .calculator-keypad .key.key-2 {
    font-size: 19px;
  }
  .calculator-keypad .key.key-3 {
    font-size: 29px;
  }
}
.attribution {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */